* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    display: flex;
    align-items: center;

}

.site img {
    width: 42px;
    margin-right: 10px;
}

.site .corp {
    color: #333333;
    font-size: 12pt;
    font-weight: 900;
    line-height: 1.4;
}

.site .desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180;
}

.nav-button::before,
.nav-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 84%;
    margin: 0 auto;
    max-width: 1240px;
}
header,.container{
    display: flex;
}
/* header * { 
    border: 1px solid gray;
}*/
.hero {
    height: 400px;
    background-image: url(img/hero.jpg);
    background-position: center;
    background-size: cover;
}

.hero img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.hero {
    display: flex;
}

.hero .catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgba(255, 255, 255, .7);
}

.hero .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
}

.hero p {
    font-size: 14px;
    color: #2e5180;
    margin-bottom: 15px;
}

  /* 複雑な色を文字列で定義する */
  :root {
    --my-corporate-color: #2e5180;
}

.message {
    background-color: var(--my-corporate-color);
    color: white;
    padding: 67px 0;

}

.message h2 {
    font-size: 24px;
    margin-bottom: 38px;
    line-height: 1.67;
    text-align: center;
}

.message p {
    font-size: 24px;
    line-height: 1.87;
    max-width: 640px;
    margin: auto;
}
.message .container{
    display: flex;
    flex-direction: column;
}
/* 
画面サイズが900px以上になったら、ｈ２の文字サイズ等を変更する */
@media ( min-width: 900px){
    .message{
        padding: 81px 0 ;
    }
    .message h2 {
        font-size: 36px;
        line-height: 1.11;
    }
}
.service {
    padding: 67px 0;
}

.service .container {
    flex-direction: column;
    /* 並びの方向を縦にする */  
    text-align: center;
    /* 文字の位置を中央揃えにする */
}

.service h2 {
    display: inline-block;
    font-size: 24px;
    color: #2E5180;
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: 2px dotted currentColor;
}

/* セレクタで＋がつく場合には、＋の前にあるセレクタに隣接する要素という指定になる。 */
.service h2+p {
    color: #2E5180;
    font-size: 16px;
}

/* 画面の最小幅９００だったら（それよりも大きい） */
@media (min-width: 900px) {
    .service {
        /* パラメータが３津の場合
            上、　左右、　下
        */
        padding: 95px 0 87px;
    }

    .service h2 {
        font-size: 36px;
    }
}

.office figure {
    background-image: url(img/office.jpg);
    height: 240px;
}

.manage figure {
    background-image: url(img/manage.jpg);
    height: 240px;
}

.research figure {
    background-image: url(img/research.jpg);
    height: 240px;
}

/* このセレクタ以外にも正解はある */
.detail figure {
    height: 246px;
    margin-bottom: 22px;
    background-position: center;
    background-size: cover;
}

/*
 class btn のデザイン
同じボタンが3つあるため、classで共通名を付ける 
class名「btn」は、div（detail）のブロックでのみ使われる
*/
.btn {
    /*
    　aタグはインライン要素なので、ブロック要素（デザイン要素）に種別変更
     */
    display: block;
    width: 200px;
    /* マージンのパラメータ：　上下　左右　→中央揃え */
    margin: 0 auto;
    /* 余白のパラメータ：　上　左右　下 */
    padding: 11px 11px 13px;
    border: solid 2px currentColor;
    border-radius: 40px;
    /*
     要素のサイズ（線、外余白含む）をトータルで幅の指定を行う
     */
    box-sizing: border-box;
    color: #2e5180;
    font-size: 16px;
    /* 線の厚さ */
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    margin-top: 75px;
}

.detail {
    /* 右の余白に余白を設定 */
    margin-right: 3%;
}

.detail :first-child {
    margin-left: 3%;
}

.detail h2 {
    font-size: 30px;
    line-height: 1.4;
}

.detail p {
    width: 80%;
    /* text-align:center;の代わり
    　　インライン要素の中央揃えでは比較的よく使われる
        実際に指定したいのは、左右余白。
    */
    margin: 0 auto;
}

.detail figure {
    height: 360px;
    margin-bottom: 30px;
}