* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    display: flex;
    align-items: center;

}

.site img {
    width: 42px;
    margin-right: 10px;
}

.site .corp {
    color: #333333;
    font-size: 12pt;
    font-weight: 900;
    line-height: 1.4;
}

.site .desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180;
}

.nav-button::before,
.nav-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 84%;
    margin: 0 auto;
    max-width: 1240px;
}
header,.container{
    display: flex;
}
/* header * { 
    border: 1px solid gray;
}*/