* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #666666;
}

#container {
	width: 700px;
	height: 100vh;
	margin: 0 auto;
	background-color: #ffffff;
	border-left: 5px solid #ff9933;
	border-right: 5px solid #ff9933;
}

/* 
	header タグに対する設定
		高さ：200px
		背景の画像イメージ：./image/title-back.jpg
----------------ここから下に記述‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐*/
header {
	height: 200px;
	background-image: url("./image/title-back.jpg");
}

/* 
	idタグ　#header-title　に対する設定
		上内部余白：　135px
		左内部余白：   15px
		文字の色：  白
		文字の装飾：    太字、44pt、sans-serif
----------------ここから下に記述‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐*/
#header-title {
	padding-top: 135px;
	padding-left: 15px;
	color: white;
	font-weight: bold;
	font-size: 44pt;
	font-family: sans-serif;
}

nav ul {
	/* リストの頭のドットを消す */
	list-style-type: none;

	/* 背景画像の追加 */
	background-image: url("./image/menu-back.png");

	/* 子要素を横並びにする */
	display: flex;

	/* 均等に余白を割り付ける */
	justify-content: space-around;

	padding-left: 10px;
}

nav a {
	/* aタグはインライン要素（＝文字扱い）、ブロック要素に変更する（サイズあり）に変更 */
	display: block;

	/*　リストの1個のサイズは、横幅700pxを5等分にしたもの */
	width: calc(700px / 5);

	/* 文字の色は白 */
	color: #ffffff;

}

/* :hover は疑似セレクタといい、マウスオーバーの状態を表す */
nav a:hover {
	background-color: #ff3300;
}
main{
	height: 500px;
	padding: 30px;
}

/* footerタグの書式を設定する */
footer {
	background-color: black;    /* 背景色：黒 */
	padding :    10px;              /* 内部の余白は10px */
	font-family:sans-serif;        /* フォントファミリ　sans-serif */
	justify-content: right;         /* 文字の位置　右寄せ */
	color: white ;              /* 文字の色は白 */

}