* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    display: flex;
    align-items: center;

}

.site img {
    width: 42px;
    margin-right: 10px;
}

.site .corp {
    color: #333333;
    font-size: 12pt;
    font-weight: 900;
    line-height: 1.4;
}

.site .desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180;
}

.nav-button::before,
.nav-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 84%;
    margin: 0 auto;
    max-width: 1240px;
}

header,
.container {
    display: flex;
}

/* header * { 
    border: 1px solid gray;
}*/
.hero {
    height: 400px;
    background-image: url(img/hero.jpg);
    background-position: center;
    background-size: cover;
}

.hero img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.hero {
    display: flex;
}

.hero .catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgba(255, 255, 255, .7);
}

.hero .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
}

.hero p {
    font-size: 14px;
    color: #2e5180;
    margin-bottom: 15px;
}

:root {
    --my-corporate-color: #2e5180;
}

.message {
    background-color: var(--my-corporate-color);
    color: white;
    padding: 67px 0;
}

.message h2 {
    font-size: 24px;
    margin-bottom: 38px;
    line-height: 1.67;
    text-align: center;
}

.message p {
    font-style: 24px;
    line-height: 1.87;
    max-width: 640px;
    margin: 0 auto;
}

.message .containr {
    display: flex;
    flex-direction: column;
}

@media(min-width:900px) {
    .message {
        padding: 81px 0;
    }

    .message h2 {
        font-size: 36px;
        line-height: 1.11;
    }
}

.service {
    padding: 67px 0;
}

.service .container {
    flex-direction: column;
    text-align: center;
}

/* タイトルが中央揃えされません */
.service .container {
    flex-direction: column;
    text-align: center;
}

.service h2 {
    display: inline-block;
    font-size: 24px;
    color: #2e5180;
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: 2px dotted currentColor;
}

.service h2+p {
    color: #2e5180;
    font-size: 16px;
}

@media (min-width:900px) {
    .service {
        padding: 95px 0 87px;
    }

    .service h2 {
        font-size: 36px;
    }
}

.office figure {
    background-image: url(img/office.jpg);
    height: 240px;
}

.manage figure {
    background-image: url(img/manage.jpg);
    height: 240px;
}

.research figure {
    background-image: url(img/research.jpg);
    height: 240px;
}

.detail figure {
    height: 246px;
    margin-bottom: 22px;
    background-position: center;
    background-size: cover;
}

.btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 11px 11px 13px;
    border: solid 2px currentColor;
    border-radius: 40px;
    box-sizing: border-box;
    color: #2e5180;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    margin-top: 75px;
}

.detail {
    margin-right: 3%;
}

.detail :first-child {
    margin-left: 3%;
}

.detail h2 {
    font-size: 30px;
    line-height: 1.4;
}

.detail p {
    width: 80%;
    margin: 0 auto;
}

.detail figure {
    height: 360px;
    margin-bottom: 30px;
}